[submodule ".registry"]
	path = .registry
	url = https://github.com/johnnychen1113/johnnychen1113.r-universe.dev
	branch = HEAD
[submodule "autoBSgenome"]
	path = autoBSgenome
	url = https://github.com/JohnnyChen1113/autoBSgenome
	branch = *release
